
[flake8]
extend-ignore = E203, E701, E741
max-line-length = 88
exclude = .eggs,.git,docs,scripts,ci,build,dist,*/*.ipynb_checkpoints,threeML/__init__.py
per-file-ignores = 
    */*__init__.py:F401,
    threeML/plugins/FermipyLike.py:F821,
    threeML/catalogs/Fermi.py:F401,
