[flake8]
ignore = E127,E201,E202,E203,E231,E252,E266,E402,E999,F841,W503,W605,F403,F401,E741
select = C,E,F,W,B,B950
extend-ignore = E203, E501
#extend-ignore = F401 # ignore unused
max-line-length = 88
exclude = .git,docs,scripts,examples,setup.py,ci,build,dist,versioneer.py,conftest.py,threeML/test,*/*.ipynb_checkpoints

per-file-ignores =
     */*__init__.py:F401
     threeML/plugins/*.py:F405


