# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

.ipynb_checkpoints/

#pypi
MANIFEST

threeML/models/spatialModels/test_func.py

output.txt

test/test_ext.py

.idea

*.DS_Store*

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache
!/threeML/minimizer/minuit_minimizer.py

docs/notebooks/analysis_set_test.fits
docs/notebooks/chains/
docs/notebooks/my_cspec_background.h5
docs/notebooks/my_selections.pha
docs/notebooks/my_selections.rsp
docs/notebooks/my_selections_bak.pha
docs/notebooks/test_bayes.fits
docs/notebooks/test_mle.fits
examples/Crab_data/
examples/Untitled.ipynb
examples/_temp_saved_bkg.h5
examples/fort.6
examples/gbm/bn080916009/glg_cspec_b0_bn080916009_v01.pha
examples/gbm/bn080916009/glg_cspec_n4_bn080916009_v00.rsp2
examples/gbm/bn080916009/glg_cspec_n4_bn080916009_v01.pha
examples/gbm/bn080916009/glg_tte_n4_bn080916009_v01.fit.gz
examples/gll_iem_v06_cut.fits
examples/lat/lle/
examples/nai3.pha
examples/nai3_.rsp
examples/nai3_1.rsp
examples/nai3_2.rsp
examples/nai3_bak.pha
examples/spectrum_showcase.ipynb
examples/temp_gbm.h5
examples/temp_gbm_saved_bkg.h5
examples/temp_lle.h5
examples/temp_lle_saved_bkg.h5
examples/test_binner.pha
examples/test_binner.rsp
examples/test_binner_bak.pha
examples/test_from_nai3.pha
examples/test_from_nai3.rsp
examples/test_from_nai3_bak.pha
examples/test_mle.fits
threeML/test/test_pha_nobkg.pha
threeML/test/test_write.pha
threeML/test/test_write_nobkg.pha
threeML/test/test_xy.txt