[build-system]
 requires = [
     "setuptools >= 48",
  #   "setuptools_scm[toml] >= 4, <6",
  #   "setuptools_scm_git_archive",
     "wheel >= 0.30.0",
     "versioneer-518"
 ]

build-backend = "setuptools.build_meta"



[tool.black]
line-length = 80
skip-string-normalization = true

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 80
