name: CI
on:
  push:
    # paths-ignore:
    #   - 'CHANGELOG.md'
#  pull_request:
  # schedule:
  #   - cron: '0 11 * * 4'




jobs:

  skip_duplicate:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          github_token: ${{ github.token }}


  publish-pypi:
    needs: test-pip
    name: Publish to PyPi
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Build package
        run: |
          pip install wheel
          python setup.py sdist bdist_wheel
      - name: Publish
        uses: pypa/gh-action-pypi-publish@v1.1.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          skip-existing: true

  test-publish-pypi:
    needs: test-pip
    name: Testing Publish to PyPi
#    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Build package
        run: |
          pip install wheel
          python setup.py sdist bdist_wheel
      - name: Test Publish
        uses: pypa/gh-action-pypi-publish@v1.1.0
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_TOKEN }}
          skip-existing: true
          repository_url: https://test.pypi.org/legacy/

          
  publish-conda:
    needs: test-conda
    name: Publish to conda
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache conda
        uses: actions/cache@v1
        with:
          path: ~/conda_pkgs_dir
          key: conda-${{ matrix.os }}-python-${{ matrix.python-version }}-${{ hashFiles('environment-ci.yml') }}
      - name: Add conda ${{ matrix.python-version }} to system path
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: "test_env"
          auto-activate-base: false
          architecture: "x64"
          conda-build-version: 3.18
          python-version: ${{ matrix.python-version }}
          auto-update-conda: true
          environment-file: ci/environment.yml
          channels: conda-forge, xspecmodels, threeml, defaults

      - name: Init Env
        shell: bash -l {0}
        run: |

          # Make sure we fail in case of error
          if [[ ${{matrix.os}} == ubuntu-latest ]];
          then
          miniconda_os=Linux
          compilers="gcc_linux-64 gxx_linux-64 gfortran_linux-64"
          else  # osx
          miniconda_os=MacOSX
          compilers="clang_osx-64 clangxx_osx-64 gfortran_osx-64"

          # On macOS we also need the conda libx11 libraries used to build xspec
          # We also need to pin down ncurses, for now only on macos.
          xorg="xorg-libx11"
          fi

          # Get the version in the __version__ environment variable
          #python ci/set_minor_version.py --patch $TRAVIS_BUILD_NUMBER --version_file threeML/version.py

          #export PKG_VERSION=$(cd threeML && python -c "import version;print(version.__version__)")

          export PKG_VERSION=$(python -c "import versioneer;print(versioneer.get_version())")

          echo "HOME= ${HOME}"
          echo "Building ${PKG_VERSION} ..."
          echo "Python version: ${{matrix.python-version}}"

          #libgfortranver="3.0"
          #NUMPYVER=1.15
          MATPLOTLIBVER=2
          XSPECVER="6.25"
          xspec_channel=xspecmodels

          # Figure out requested dependencies
          if [ -n "${MATPLOTLIBVER}" ]; then MATPLOTLIB="matplotlib=${MATPLOTLIBVER}"; fi
          if [ -n "${NUMPYVER}" ]; then NUMPY="numpy=${NUMPYVER}"; fi
          if [ -n "${XSPECVER}" ];
          then export XSPEC="xspec-modelsonly=${XSPECVER} ${xorg}";
          fi


          PKG="pytest>=3.6 pandas>=0.23 ultranest interpolation>=2.1.5"

          conda install ${PKG} codecov pytest-cov git ${MATPLOTLIB} ${NUMPY} ${XSPEC} astropy ${compilers} scipy astropy astromodels emcee pymultinest ultranest
            
      - name: Build the Distribution
        shell: bash -l {0}
        run: |
          # Build package
          
          if [[ "${{matrix.os}}" == "ubuntu-latest" ]]; then

          conda build --python=${{matrix.python-version}} conda-dist/recipes/threeml
        
          else
          # there is some strange error about the prefix length
          conda build --no-build-id --python=${{matrix.python-version}} conda-dist/recipes/threeml
          fi
